In [3]:
import pyspark

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark=SparkSession.builder.appName('dataframe').getOrCreate()

In [7]:
spark

In [13]:
#read the dataset
df_pyspark=spark.read.option('header','true').csv('/home/pavankumar/Documents/test1.csv',inferSchema=True)

In [14]:
# check the schema
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- place: string (nullable = true)

In [15]:
# another way of reading the data
df_pyspark=spark.read.csv('/home/pavankumar/Documents/test1.csv',header=True,inferSchema=True)
df_pyspark.show()

+----------+---+-----------+
|      name|age|      place|
+----------+---+-----------+
|     pavan| 24|chitradurga|
|padmanabha| 24|  bangalore|
|  sargaraj| 23|     kerala|
+----------+---+-----------+

In [16]:
type(df_pysaprk)

pyspark.sql.dataframe.DataFrame

In [19]:
#selecting all column
df_pyspark.columns

['name', 'age', 'place']

In [20]:
# head elements
df_pyspark.head(2)

[Row(name='pavan', age=24, place='chitradurga'),
 Row(name='padmanabha', age=24, place='bangalore')]

In [21]:
#selecting a required elements
df_pyspark.select('name').show()

+----------+
|      name|
+----------+
|     pavan|
|padmanabha|
|  sargaraj|
+----------+

In [22]:
df_pyspark.select(['name','age']).show()

+----------+---+
|      name|age|
+----------+---+
|     pavan| 24|
|padmanabha| 24|
|  sargaraj| 23|
+----------+---+

In [30]:
# drop the column
df_pyspark.drop('age').show()

+----------+-----------+
|      name|      place|
+----------+-----------+
|     pavan|chitradurga|
|padmanabha|  bangalore|
|  sargaraj|     kerala|
+----------+-----------+